<div class="navbar navbar-default navbar-static-top background-nav-bar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand menu-style" href="#/login">Log out</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav menu-style">
        <li><a href="#/information">Manage</a></li>
        <li><a href="#/install">Install</a></li>
        <li class="active" ><a href="#/master">Master</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right menu-style">
        <li><a href="#about">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container-fluid">
    <div class="modal-content about-custom-margin">    
      <div class="modal-header {{master.Rstatus}}">
          <h1 class="text-center">MASTER</h1>
      </div>
      <div class="modal-body">
          <ul>
            <li>Power :  {{master.power}} 
            <li>Mac Address :  {{master.mac}}
            <li>IP Address :  {{master.ip}}
            <li>CPU Load :  {{master.cpu}}
            <li>Last time it was pinged :  {{master.Lping}}
             
          </ul>
        </div>
      <div class="modal-footer">
        <p class="small text-center">S9 Project - ENSEIRB MATMECA - The Master Pi </p>
      </div>
    </div> 
</div>