/* app css stylesheet */


body,html {
  /*height added in order to fill the entire login page with the bg image*/
  height:100% !important;
}


/*Login page*/

.login-background {
	height:100% !important;
	max-width: 100%;
      height: auto;
      background-size: cover;
	  background: url('../img/fondFlou.png') no-repeat center center fixed;
}


.input-login:hover, .input-login:focus {
	border-color: #3CB371;
}

.btn-login {
	background-color: #3CB371;
}

.btn-login:hover, .btn-login:focus {
	background-color: #2E8B57;
}


/*Install page*/

.prog-bar{
  margin-top: 20px;
}


.custom-row-install {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}

.custom-row-install-header{
    background-color: #2E8B57;
    border-radius: 4px;
    padding: 10px;
}

.width-progress-bar{
  width:50%;
}
/*About page*/



.about-custom-margin{
  margin-right: 100px;
  margin-left: 100px;
}

/*Information page*/




.custom-error-action{
  color: red;
}

.custom-search-bar {
  padding-top: 12px;
  font-weight: normal;
}

.information-margin{
  margin-left: 50px;
  margin-right: 50px;
}


.custom-info-sign {
  color:white;
  cursor: pointer;
}

.custom-list-actions {
    cursor: pointer;
}

.custom-button-drop{
  float: right;
}

.menu-style li a, .menu-style{
  color: #2E8B57 !important;
  font-weight: bold;
}


.padding-ul-tab {
	padding: 0px;
}

.padding-ul-tab li {
	font-size: 10px;
}

.pricing-table .plan {
  margin-left:5px;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}
 
 .plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
}
 
 .plan {
  padding: 0px;
  margin-left:0px;
  color: #ff;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
  
.plan-name-normal {
  padding: 5px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
 }

 .okStatus{
  background-color: #2E8B57;
}

 .koStatus{
  background-color: #B22222;
}

 .warningStatus{
  background-color: #DAA520;
}
 .pricing-table {
  text-align: center;
 }

 .pricing-table ul {
    text-align: center;
       display: inline-block;
    vertical-align: top;
 }
  

  
.pricing-table .plan .plan-name span {
  font-size: 20px;
}
 
.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  display: inline-block;
  vertical-align: top;
}
 
.pricing-table .plan ul li.plan-feature {
  padding: 5px;
  border-top: 1px solid #c5c8c0;
}
 
.pricing-three-column {
  margin: 0 auto;
  width: 95%;
}
 
.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom:1;
  *display:inline;
}
 
.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}
 
.btn-plan-select {
  font-size: 10px;
}

