<div class="navbar navbar-default navbar-static-top background-nav-bar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand menu-style" href="#/login">Log out</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav menu-style">
        <li><a href="#/information">Manage</a></li>
        <li><a href="#/install">Install</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right menu-style">
        <li class="active"><a href="#about">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>